Repository d2l-ai/d2l-vi, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy, preface, install, introduction, math, preliminaries, utility, glosssary

.github/labeler.yml:

deploy:
  - config.ini
  - deploy.sh

preface:
  - chapter_preface/*

install:
  - chapter_install/*

introduction:
    - chapter_introduction/*

math:
    - chapter_appendix_math/*

preliminaries:
    - chapter_preliminaries/*

utility:
  - utils.py
  - test_utils.py
  - tests/*

glosssary:
  - glossary.md

Upload preliminaries linear-algebra
  chapter_preliminaries/linear-algebra.md
  chapter_preliminaries/linear-algebra_vn.md
Labels: preliminaries

Glossary: LSTM
  glossary.md
Labels: glosssary

Tang net chu
  img/book-org.svg
Labels: none

Sua font
  img/book-org.svg
Labels: none

Dịch ảnh book-org.svg (#209)
  img/book-org.svg
Labels: none

Upload final chapter (#215)
  chapter_appendix_math/statistics.md
  chapter_appendix_math/statistics_vn.md
Labels: math
