Repository d2l-ai/d2l-vi, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy, chapter:preface, chapter:notation, chapter:install, chapter:introduction, chapter:math, chapter:preliminaries, chapter:computational-performance, priority:high, priority:low, utility, type:glosssary, type:figures

Apply suggestions from code review
  chapter_preliminaries/calculus_vn.md
Labels: chapter:preliminaries, priority:high

Update ndarray_vn.md (#492)
  chapter_preliminaries/ndarray_vn.md
Labels: chapter:preliminaries, priority:high

✨Add "Data Manipulation"
  glossary.md
Labels: type:glosssary

✨Add "Data Manipulation" (#495)
  glossary.md
Labels: type:glosssary

Dịch "chapter_preliminaries/calculus_vn" - Phần 06 (Phần cuối)
  chapter_preliminaries/calculus_vn.md
Labels: chapter:preliminaries, priority:high

Dịch "chapter_computational-performance/hybridize_vn" - Phần 2
  chapter_computational-performance/hybridize_vn.md
Labels: chapter:computational-performance, priority:low

Apply suggestions from code review
  chapter_preliminaries/calculus_vn.md
Labels: chapter:preliminaries, priority:high

Apply suggestions from code review
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

Apply suggestions from code review
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

Update chapter_preliminaries/calculus_vn.md
  chapter_preliminaries/calculus_vn.md
Labels: chapter:preliminaries, priority:high

Update chapter_computational-performance/index_vn.md
  chapter_computational-performance/index_vn.md
Labels: chapter:computational-performance, priority:low

Dịch "chapter_computational-performance/index_vn" (#485)
  chapter_computational-performance/index_vn.md
Labels: chapter:computational-performance, priority:low

.github/labeler.yml:

deploy:
  - config.ini
  - deploy.sh

chapter:preface:
  - chapter_preface/*

chapter:notation:
  - chapter_notation/*

chapter:install:
  - chapter_install/*

chapter:introduction:
    - chapter_introduction/*

chapter:math:
    - chapter_appendix_math/*

chapter:preliminaries:
    - chapter_preliminaries/*

chapter:computational-performance:
    - chapter_computational-performance/*

priority:high:
    - chapter_preliminaries/*

priority:low:
    - chapter_computational-performance/*

utility:
  - utils.py
  - test_utils.py
  - tests/*

type:glosssary:
  - glossary.md

type:figures:
  - img/*
