Repository d2l-ai/d2l-vi, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy, chapter:preface, chapter:notation, chapter:install, chapter:introduction, chapter:appendix-math, chapter:preliminaries, chapter:computational-performance, priority:high, priority:low, utility, type:glosssary, type:figures, type:logistic

Update chapter_preliminaries/probability_vn.md
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

Update chapter_preliminaries/probability_vn.md
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

Update chapter_preliminaries/probability_vn.md
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

Update probability_vn.md
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

Update probability_vn.md
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

Dịch "chapter_computational-performance/hybridize_vn" - Phần 2
  chapter_computational-performance/hybridize_vn.md
Labels: chapter:computational-performance, priority:low

Apply suggestions from code review
  chapter_computational-performance/hybridize_vn.md
Labels: chapter:computational-performance, priority:low

Dịch "chapter_computational-performance/hybridize_vn" - Phần 1
  chapter_computational-performance/hybridize_vn.md
Labels: chapter:computational-performance, priority:low

Apply suggestions from code review
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

Apply suggestions from code review
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

Apply suggestions from code review
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

Update chapter_preliminaries/autograd_vn.md
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

Update chapter_preliminaries/autograd_vn.md
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

Apply suggestions from code review
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

First draft
  chapter_preliminaries/index_vn.md
Labels: chapter:preliminaries, priority:high

First draft
  chapter_preliminaries/index_vn.md
Labels: chapter:preliminaries, priority:high

🏗Final update
  chapter_preliminaries/index_vn.md
Labels: chapter:preliminaries, priority:high

🏗Final draft
  chapter_preliminaries/index_vn.md
Labels: chapter:preliminaries, priority:high

first draft
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

Apply suggestions from code review
  chapter_computational-performance/hybridize_vn.md
Labels: chapter:computational-performance, priority:low

🏔Create contributors_info.md
  docs/contributors_info.md
Labels: type:logistic

Dịch "probability_vn" - Phần 4
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

Dịch "probability_vn" - Phần 4
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

Dịch "probability_vn" - Phần 4
  chapter_preliminaries/probability_vn.md
Labels: chapter:preliminaries, priority:high

🏗Update "antran511"
  docs/contributors_info.md
Labels: type:logistic

🏔Create contributors_info.md (#525)
  docs/contributors_info.md
Labels: type:logistic

🏗Update pull_request_template
  CONTRIBUTING.md
  translation_team/draft-pull-requests.png
Labels: type:logistic

Apply suggestions from code review
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

Apply suggestions from code review
  chapter_preliminaries/index_vn.md
Labels: chapter:preliminaries, priority:high

Apply suggestions from code review
  chapter_preliminaries/index_vn.md
Labels: chapter:preliminaries, priority:high

🏗Final update
  CONTRIBUTING.md
  docs/pull_request_template.md
  translation_team/draft-pull-requests-ready.png
Labels: type:logistic

Apply suggestions from code review
  chapter_preliminaries/pandas_vn.md
Labels: chapter:preliminaries, priority:high

first translation
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

🏗Update pull_request_template (#527)
  CONTRIBUTING.md
  docs/pull_request_template.md
  translation_team/draft-pull-requests-ready.png
  translation_team/draft-pull-requests.png
Labels: type:logistic

🏗Update pull_request_template
  CONTRIBUTING.md
  docs/pull_request_template.md
Labels: type:logistic

🏗Update pull_request_template (#529)
  CONTRIBUTING.md
  docs/pull_request_template.md
Labels: type:logistic

Apply suggestions from code review
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

Update chapter_preliminaries/autograd_vn.md
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

Dịch "chapter_preliminaries/calculus_vn" - Phần 05 (#478)
  chapter_preliminaries/calculus_vn.md
Labels: chapter:preliminaries, priority:high

Update chapter_preliminaries/autograd_vn.md
  chapter_preliminaries/autograd_vn.md
Labels: chapter:preliminaries, priority:high

.github/labeler.yml:

deploy:
  - config.ini
  - deploy.sh
  - environment.yml

chapter:preface:
  - chapter_preface/*

chapter:notation:
  - chapter_notation/*

chapter:install:
  - chapter_install/*

chapter:introduction:
    - chapter_introduction/*

chapter:appendix-math:
    - chapter_appendix_math/*

chapter:preliminaries:
    - chapter_preliminaries/*

chapter:computational-performance:
    - chapter_computational-performance/*

priority:high:
    - chapter_preliminaries/*

priority:low:
    - chapter_computational-performance/*

utility:
  - utils.py
  - test_utils.py
  - tests/*

type:glosssary:
  - glossary.md

type:figures:
  - img/*

type:logistic:
  - .github/*
  - docs/*
  - data/*
  - d2l/*
  - d2l-book/*
  - contrib/*
  - graffle/*
  - post_latex/*
  - static/*
  - translation_team/*
  - contributor_template.md
  - contributors_template_vn.md
  - index.md
  - README.md
  - CONTRIBUTING.md
