Repository d2l-ai/d2l-vi, changes with the owners that CODEOWNERS names for each.
All owners: @rootonchair, @lkhphuc, @minhduc0711

Update chapter_deep-learning-computation/read-write_vn.md
  chapter_deep-learning-computation/read-write_vn.md
Owners: none

Update chapter_deep-learning-computation/read-write_vn.md
  chapter_deep-learning-computation/read-write_vn.md
Owners: none

Apply suggestions from code review
  chapter_deep-learning-computation/read-write_vn.md
Owners: none

Dịch "read-write_vn" - Phần 3 (#1170)
  chapter_deep-learning-computation/read-write_vn.md
Owners: none

Dịch "why-conv_vn" - Phần 3
  chapter_convolutional-neural-networks/why-conv_vn.md
Owners: none

Update why-conv_vn.md
  chapter_convolutional-neural-networks/why-conv_vn.md
Owners: none

Dịch "why-conv_vn" - Phần 4
  chapter_convolutional-neural-networks/why-conv_vn.md
Owners: none

Update why-conv_vn.md
  chapter_convolutional-neural-networks/why-conv_vn.md
Owners: none

Dịch "why-conv_vn" - Phần 5
  chapter_convolutional-neural-networks/why-conv_vn.md
Owners: none

Update why-conv_vn.md
  chapter_convolutional-neural-networks/why-conv_vn.md
Owners: none

Apply suggestions from code review
  chapter_deep-learning-computation/parameters_vn.md
Owners: none

Update chapter_deep-learning-computation/parameters_vn.md
  chapter_deep-learning-computation/parameters_vn.md
Owners: none

🍒 Add chapter "modern-cnn"
  chapter_convolutional-modern/alexnet.md
  chapter_convolutional-modern/batch-norm.md
  chapter_convolutional-modern/densenet.md
  chapter_convolutional-modern/googlenet.md
  chapter_convolutional-modern/index.md
  chapter_convolutional-modern/nin.md
  chapter_convolutional-modern/resnet.md
  chapter_convolutional-modern/vgg.md
Owners: none

Create vietnamese version
  chapter_convolutional-modern/alexnet_vn.md
  chapter_convolutional-modern/batch-norm_vn.md
  chapter_convolutional-modern/densenet_vn.md
  chapter_convolutional-modern/googlenet_vn.md
  chapter_convolutional-modern/index_vn.md
  chapter_convolutional-modern/nin_vn.md
  chapter_convolutional-modern/resnet_vn.md
  chapter_convolutional-modern/vgg_vn.md
Owners: none

Update discussion, summary, practice and contrib
  chapter_convolutional-modern/alexnet_vn.md
  chapter_convolutional-modern/batch-norm_vn.md
  chapter_convolutional-modern/densenet_vn.md
  chapter_convolutional-modern/googlenet_vn.md
  chapter_convolutional-modern/nin_vn.md
  chapter_convolutional-modern/resnet_vn.md
  chapter_convolutional-modern/vgg_vn.md
Owners: none

Dịch "why-conv_vn" - Phần 6
  chapter_convolutional-neural-networks/why-conv_vn.md
Owners: none

Add "cross correlation"
  glossary.md
Owners: @lkhphuc, @minhduc0711

Update chapter_deep-learning-computation/use-gpu_vn.md
  chapter_deep-learning-computation/use-gpu_vn.md
Owners: none

Update chapter_deep-learning-computation/use-gpu_vn.md
  chapter_deep-learning-computation/use-gpu_vn.md
Owners: none

Update use-gpu_vn.md
  chapter_deep-learning-computation/use-gpu_vn.md
Owners: none

first draft
  chapter_deep-learning-computation/index_vn.md
Owners: none

small update
  chapter_deep-learning-computation/index_vn.md
Owners: none

update glossary
  glossary.md
Owners: @lkhphuc, @minhduc0711

Update chapter_deep-learning-computation/parameters_vn.md
  chapter_deep-learning-computation/parameters_vn.md
Owners: none

Add "cross correlation" (#1216)
  glossary.md
Owners: @lkhphuc, @minhduc0711

Apply suggestions from code review
  chapter_deep-learning-computation/parameters_vn.md
Owners: none

Apply suggestions from code review
  chapter_deep-learning-computation/parameters_vn.md
Owners: none

Add files via upload
  img/conv-1x1.svg
  img/conv-multi-in.svg
  img/conv-pad.svg
  img/conv-stride.svg
  img/correlation.svg
Owners: @rootonchair

Dịch "conv-layer_vn" - Phần 1
  chapter_convolutional-neural-networks/conv-layer_vn.md
Owners: none

Dịch "conv-layer_vn" - Phần 1
  chapter_convolutional-neural-networks/conv-layer_vn.md
Owners: none

Dịch "parameters_vn" - Phần 2 (#1157)
  chapter_deep-learning-computation/parameters_vn.md
Owners: none

Dịch "parameters_vn" - Phần 5 (#1124)
  chapter_deep-learning-computation/parameters_vn.md
Owners: none

Dịch "deferred-init_vn" - Phần 3 (#1150)
  chapter_deep-learning-computation/deferred-init_vn.md
Owners: none

Dịch "read-write_vn" - Phần 2 (#1167)
  chapter_deep-learning-computation/read-write_vn.md
Owners: none

Đầu vào center aligned
  img/correlation.svg
Owners: @rootonchair

Update chapter_deep-learning-computation/use-gpu_vn.md
  chapter_deep-learning-computation/use-gpu_vn.md
Owners: none

Update chapter_deep-learning-computation/use-gpu_vn.md
  chapter_deep-learning-computation/use-gpu_vn.md
Owners: none

Update chapter_deep-learning-computation/use-gpu_vn.md
  chapter_deep-learning-computation/use-gpu_vn.md
Owners: none

Update chapter_deep-learning-computation/use-gpu_vn.md
  chapter_deep-learning-computation/use-gpu_vn.md
Owners: none

Update chapter_deep-learning-computation/use-gpu_vn.md
  chapter_deep-learning-computation/use-gpu_vn.md
Owners: none

CODEOWNERS:

@aivivn
@tiepvupsu
@ngcthuong
@duythanhvn

/img/ @rootonchair
glossary.md @lkhphuc @minhduc0711
