Repository d2l-ai/d2l-vi, changes with the owners that CODEOWNERS names for each.
All owners: @rootonchair, @lkhphuc, @minhduc0711

CODEOWNERS:

@aivivn
@tiepvupsu
@ngcthuong
@duythanhvn

/img/ @rootonchair
glossary.md @lkhphuc @minhduc0711

Apply suggestions from code review
  chapter_multilayer-perceptrons/mlp_vn.md
Owners: none

Dịch "environment_vn" - Phần 2
  chapter_multilayer-perceptrons/environment_vn.md
Owners: none

Dịch "environment_vn.md" phần 6.
  chapter_multilayer-perceptrons/environment_vn.md
Owners: none

Apply suggestions from code review
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Dịch "numerical-stability-and-init_vn" - Phần 2
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Apply suggestions from code review
  chapter_multilayer-perceptrons/dropout_vn.md
Owners: none

Apply suggestions from code review
  chapter_multilayer-perceptrons/index_vn.md
Owners: none

Update chapter_multilayer-perceptrons/dropout_vn.md
  chapter_multilayer-perceptrons/dropout_vn.md
Owners: none

Apply suggestions from code review
  chapter_multilayer-perceptrons/mlp_vn.md
Owners: none

Dịch "mlp_vn" - Phần 4 (#940)
  chapter_multilayer-perceptrons/mlp_vn.md
Owners: none

fix vao ra
  img/softmaxreg.svg
Owners: @rootonchair

fix vao ra (#1010)
  img/softmaxreg.svg
Owners: @rootonchair

update glossary
  glossary.md
Owners: @lkhphuc, @minhduc0711

Dịch "numerical-stability-and-init_vn" - Phần 1
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

📦 Add "Deep Learning Computation" chapter
  chapter_deep-learning-computation/custom-layer.md
  chapter_deep-learning-computation/deferred-init.md
  chapter_deep-learning-computation/index.md
  chapter_deep-learning-computation/model-construction.md
  chapter_deep-learning-computation/parameters.md
  chapter_deep-learning-computation/read-write.md
  chapter_deep-learning-computation/use-gpu.md
Owners: none

Dịch "backprop_vn" - Phần 1
  chapter_multilayer-perceptrons/backprop_vn.md
Owners: none

Dịch "backprop_vn" - Phần 1
  chapter_multilayer-perceptrons/backprop_vn.md
Owners: none

Upload 3 files
  README.md
  chapter_deep-learning-computation/index_vn.md
  chapter_deep-learning-computation/model-construction_vn.md
  chapter_deep-learning-computation/parameters_vn.md
  intro_vn.md
Owners: none

Final update
  chapter_deep-learning-computation/custom-layer_vn.md
  chapter_deep-learning-computation/deferred-init_vn.md
  chapter_deep-learning-computation/read-write_vn.md
  chapter_deep-learning-computation/use-gpu_vn.md
Owners: none

Update utils.py
  utils.py
Owners: none

Update README
  README.md
Owners: none

Update README lastest
  README.md
Owners: none

Update contributors list
  docs/contributors_info.md
Owners: none

📦 Add "Deep Learning Computation" chapter (#1014)
  README.md
  chapter_deep-learning-computation/custom-layer.md
  chapter_deep-learning-computation/custom-layer_vn.md
  chapter_deep-learning-computation/deferred-init.md
  chapter_deep-learning-computation/deferred-init_vn.md
  chapter_deep-learning-computation/index.md
  chapter_deep-learning-computation/index_vn.md
  chapter_deep-learning-computation/model-construction.md
  chapter_deep-learning-computation/model-construction_vn.md
  chapter_deep-learning-computation/parameters.md
  chapter_deep-learning-computation/parameters_vn.md
  chapter_deep-learning-computation/read-write.md
  chapter_deep-learning-computation/read-write_vn.md
  chapter_deep-learning-computation/use-gpu.md
  chapter_deep-learning-computation/use-gpu_vn.md
  docs/contributors_info.md
  intro_vn.md
  utils.py
Owners: none

Dịch "backprop_vn" - Phần 1
  chapter_multilayer-perceptrons/backprop_vn.md
Owners: none

Dịch "index_vn" (#1007)
  chapter_multilayer-perceptrons/index_vn.md
Owners: none

Apply suggestions from code review
  chapter_multilayer-perceptrons/dropout_vn.md
Owners: none

Dịch "environment_vn" - Phần 7
  chapter_multilayer-perceptrons/environment_vn.md
Owners: none

Dịch "numerical-stability-and-init_vn" - Phần 1
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Dịch "numerical-stability-and-init_vn" - Phần 1
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Update chapter_multilayer-perceptrons/backprop_vn.md
  chapter_multilayer-perceptrons/backprop_vn.md
Owners: none

Update chapter_multilayer-perceptrons/backprop_vn.md
  chapter_multilayer-perceptrons/backprop_vn.md
Owners: none

Dịch "backprop_vn" - Phần 1 (#972)
  chapter_multilayer-perceptrons/backprop_vn.md
Owners: none

Update chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Update chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Update chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Update chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Update chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Update chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Update chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none
