Repository d2l-ai/d2l-vi, changes with the owners that CODEOWNERS names for each.
All owners: @rootonchair, @lkhphuc, @minhduc0711

Dịch "underfit-overfit_vn" - Phần 9 (#938)
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
Owners: none

Dịch "weight-decay_vn" - Phần 3 (#949)
  chapter_multilayer-perceptrons/weight-decay_vn.md
Owners: none

Apply suggestions from code review
  chapter_multilayer-perceptrons/weight-decay_vn.md
Owners: none

Dịch "weight-decay_vn" - Phần 5
  chapter_multilayer-perceptrons/weight-decay_vn.md
Owners: none

Revise "softmax-regression_vn" - Phần 1 (#976)
  chapter_linear-networks/softmax-regression_vn.md
Owners: none

Dịch "numerical-stability-and-init_vn" - Phần 2
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Dịch "weight-decay_vn" - Phần 6
  chapter_multilayer-perceptrons/weight-decay_vn.md
Owners: none

Update chapter_linear-networks/softmax-regression_vn.md
  chapter_linear-networks/softmax-regression_vn.md
Owners: none

Update chapter_linear-networks/softmax-regression_vn.md
  chapter_linear-networks/softmax-regression_vn.md
Owners: none

Update chapter_linear-networks/softmax-regression_vn.md
  chapter_linear-networks/softmax-regression_vn.md
Owners: none

Update chapter_linear-networks/softmax-regression_vn.md
  chapter_linear-networks/softmax-regression_vn.md
Owners: none

Update chapter_linear-networks/softmax-regression_vn.md
  chapter_linear-networks/softmax-regression_vn.md
Owners: none

Update chapter_linear-networks/softmax-regression_vn.md
  chapter_linear-networks/softmax-regression_vn.md
Owners: none

Update chapter_linear-networks/softmax-regression_vn.md
  chapter_linear-networks/softmax-regression_vn.md
Owners: none

Update chapter_linear-networks/softmax-regression_vn.md
  chapter_linear-networks/softmax-regression_vn.md
Owners: none

Update chapter_linear-networks/softmax-regression_vn.md
  chapter_linear-networks/softmax-regression_vn.md
Owners: none

Update
  chapter_linear-networks/softmax-regression_vn.md
Owners: none

Apply suggestions from code review
  chapter_linear-networks/softmax-regression_vn.md
Owners: none

Revise "softmax-regression_vn" - Phần 4 (#974)
  chapter_linear-networks/softmax-regression_vn.md
Owners: none

🎉 Update contributions
  README.md
  chapter_linear-networks/index_vn.md
  chapter_linear-networks/linear-regression-gluon_vn.md
  chapter_linear-networks/linear-regression-scratch_vn.md
  chapter_linear-networks/linear-regression_vn.md
  chapter_linear-networks/softmax-regression-gluon_vn.md
  chapter_linear-networks/softmax-regression-scratch_vn.md
  chapter_linear-networks/softmax-regression_vn.md
  contributors_template_vn.md
Owners: none

Update-1
  chapter_linear-networks/index_vn.md
  glossary.md
Owners: @lkhphuc, @minhduc0711

Apply suggestions from code review
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
Owners: none

Update dropout_vn.md
  chapter_multilayer-perceptrons/dropout_vn.md
Owners: none

Update dropout_vn.md
  chapter_multilayer-perceptrons/dropout_vn.md
Owners: none

Dịch "weight-decay_vn" - Phần 2
  chapter_multilayer-perceptrons/weight-decay_vn.md
Owners: none

Update-2
  chapter_linear-networks/linear-regression-gluon_vn.md
  chapter_linear-networks/linear-regression_vn.md
  chapter_linear-networks/softmax-regression-scratch_vn.md
  chapter_linear-networks/softmax-regression_vn.md
  glossary.md
Owners: @lkhphuc, @minhduc0711

🎉 Update contributions (#989)
  README.md
  chapter_linear-networks/index_vn.md
  chapter_linear-networks/linear-regression-gluon_vn.md
  chapter_linear-networks/linear-regression-scratch_vn.md
  chapter_linear-networks/linear-regression_vn.md
  chapter_linear-networks/softmax-regression-gluon_vn.md
  chapter_linear-networks/softmax-regression-scratch_vn.md
  chapter_linear-networks/softmax-regression_vn.md
  contributors_template_vn.md
  glossary.md
Owners: @lkhphuc, @minhduc0711

Apply suggestions from code review
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
Owners: none

Add penalty
  glossary.md
Owners: @lkhphuc, @minhduc0711

Apply suggestions from code review
  chapter_multilayer-perceptrons/dropout_vn.md
Owners: none

Dịch "dropout_vn" - Phần 5 (#961)
  chapter_multilayer-perceptrons/dropout_vn.md
Owners: none

Dịch "numerical-stability-and-init_vn" - Phần 5 #983
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Apply suggestions from code review
  chapter_multilayer-perceptrons/mlp_vn.md
Owners: none

hotfix flatten
  glossary.md
Owners: @lkhphuc, @minhduc0711

Apply suggestions from code review
  chapter_multilayer-perceptrons/dropout_vn.md
Owners: none

Dịch ảnh Chương 4 - Phần 1
  img/capacity_vs_error.svg
  img/mlp.svg
  img/singlelayer.svg
Owners: @rootonchair

Dịch ảnh Chương 4 - Phần 1
  img/mlp.svg
  img/singlelayer.svg
Owners: @rootonchair

Dịch ảnh Chương 4 - Phần 1 (#1003)
  img/capacity_vs_error.svg
  img/mlp.svg
  img/singlelayer.svg
Owners: @rootonchair

Update chapter_multilayer-perceptrons/dropout_vn.md
  chapter_multilayer-perceptrons/dropout_vn.md
Owners: none

Update chapter_multilayer-perceptrons/dropout_vn.md
  chapter_multilayer-perceptrons/dropout_vn.md
Owners: none

CODEOWNERS:

@aivivn
@tiepvupsu
@ngcthuong
@duythanhvn

/img/ @rootonchair
glossary.md @lkhphuc @minhduc0711
