Repository d2l-ai/d2l-vi, changes with the owners that CODEOWNERS names for each.
All owners: @rootonchair, @lkhphuc, @minhduc0711

Dịch "numerical-stability-and-init_vn" - Phần 5 (#1002)
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Dịch "environment_vn" - Phần 2
  chapter_multilayer-perceptrons/environment_vn.md
Owners: none

first draft
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
Owners: none

Update chapter_multilayer-perceptrons/underfit-overfit_vn.md
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
Owners: none

Dịch "backprop_vn" - Phần 2 (#984)
  chapter_multilayer-perceptrons/backprop_vn.md
Owners: none

Apply suggestions from code review
  chapter_multilayer-perceptrons/dropout_vn.md
Owners: none

Dịch "dropout_vn" - Phần 2 (#963)
  chapter_multilayer-perceptrons/dropout_vn.md
Owners: none

Apply suggestions from code review
  chapter_multilayer-perceptrons/dropout_vn.md
Owners: none

Apply suggestions from code review
  chapter_multilayer-perceptrons/dropout_vn.md
Owners: none

Dịch "dropout_vn" - Phần 3
  chapter_multilayer-perceptrons/dropout_vn.md
Owners: none

Apply suggestions from code review
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Dịch "numerical-stability-and-init_vn" - Phần 2
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Apply suggestions from code review
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Apply suggestions from code review
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Dịch "environment_vn" - Phần 3
  chapter_multilayer-perceptrons/environment_vn.md
Owners: none

Dịch hình "dropout_vn" - Phần 3
  img/dropout2.svg
Owners: @rootonchair

Dịch hình "dropout_vn" - Phần 3 (#1036)
  img/dropout2.svg
Owners: @rootonchair

Update glossary.md
  glossary.md
Owners: @lkhphuc, @minhduc0711

Update numerical-stability-and-init_vn.md
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Update numerical-stability-and-init_vn.md
  chapter_multilayer-perceptrons/numerical-stability-and-init_vn.md
Owners: none

Add robustness, perturbation (#1032)
  glossary.md
Owners: @lkhphuc, @minhduc0711

Update dropout_vn.md
  chapter_multilayer-perceptrons/dropout_vn.md
Owners: none

Dịch "environment_vn" - Phần 2
  chapter_multilayer-perceptrons/environment_vn.md
Owners: none

Dịch "environment_vn" - Phần 7
  chapter_multilayer-perceptrons/environment_vn.md
Owners: none

Apply suggestions from code review
  chapter_multilayer-perceptrons/underfit-overfit_vn.md
Owners: none

first draft
  chapter_multilayer-perceptrons/.kaggle-house-price_vn.md.swp
  chapter_multilayer-perceptrons/kaggle-house-price_vn.md
Owners: none

fixes
  chapter_multilayer-perceptrons/kaggle-house-price_vn.md
Owners: none

remove swp file
  chapter_multilayer-perceptrons/.kaggle-house-price_vn.md.swp
Owners: none

name
  chapter_multilayer-perceptrons/kaggle-house-price_vn.md
Owners: none

Update chapter_multilayer-perceptrons/backprop_vn.md
  chapter_multilayer-perceptrons/backprop_vn.md
Owners: none

Update chapter_multilayer-perceptrons/backprop_vn.md
  chapter_multilayer-perceptrons/backprop_vn.md
Owners: none

Update chapter_multilayer-perceptrons/backprop_vn.md
  chapter_multilayer-perceptrons/backprop_vn.md
Owners: none

Update chapter_multilayer-perceptrons/backprop_vn.md
  chapter_multilayer-perceptrons/backprop_vn.md
Owners: none

Update chapter_multilayer-perceptrons/backprop_vn.md
  chapter_multilayer-perceptrons/backprop_vn.md
Owners: none

Update chapter_multilayer-perceptrons/backprop_vn.md
  chapter_multilayer-perceptrons/backprop_vn.md
Owners: none

Update chapter_multilayer-perceptrons/backprop_vn.md
  chapter_multilayer-perceptrons/backprop_vn.md
Owners: none

Update chapter_multilayer-perceptrons/backprop_vn.md
  chapter_multilayer-perceptrons/backprop_vn.md
Owners: none

Update chapter_multilayer-perceptrons/backprop_vn.md
  chapter_multilayer-perceptrons/backprop_vn.md
Owners: none

Update chapter_multilayer-perceptrons/backprop_vn.md
  chapter_multilayer-perceptrons/backprop_vn.md
Owners: none

Update chapter_multilayer-perceptrons/backprop_vn.md
  chapter_multilayer-perceptrons/backprop_vn.md
Owners: none

CODEOWNERS:

@aivivn
@tiepvupsu
@ngcthuong
@duythanhvn

/img/ @rootonchair
glossary.md @lkhphuc @minhduc0711
